.school-card {
display: block;
padding: 0 20px 25px;
border: 1px solid lightgrey;
border-radius: 10px;
background-color: white;
position: relative;
height: 50px;
overflow: hidden;
box-shadow: 2px 2px 2px lightgrey;

  h1 {
      color: #F2755C;
      

  }  
}